body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fileInput {
    display: none;
}

label, button {
    display: block;
    background-color: #3498db;
    border: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px 0px;
}
button {
    width: 100%;
}

label:hover, button:hover {
    background-color: #2980b9;
}

#imagePreview {
    display: none;
    text-align: center;
}

#previewImage {
    max-width: 100%;
    max-height: 300px;
}

#imageInfo {
    font-size: 14px;
}